@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* global.css */

a {
  color: #00376B;
  text-decoration: none;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

a:hover {
  color: #1e40af;
  /* Более тёмный синий цвет при наведении */
  text-decoration: underline;
  /* Подчеркивание при наведении */
}

/* explore */
.hover\:scale-105:hover {
  transform: scale(1.05);
}